{
  "root": true,
  "extends": ["prettier"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],          // side effect
          ["^node:"],            // node built-in
          ["^react", "^@?\\w"],  // external
          ["^@/"],               // absolute alias
          ["^\\."]               // relative
        ]
      }
    ],
    "simple-import-sort/exports": "error"
  }
}
