@theme {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  --animate-float: float 2s ease-in-out infinite;
}

@theme {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee-reverse: marquee-reverse 25s linear infinite;
}
